.friend-list-item {
  padding: 10px;
  border-bottom: 1px solid grey;
  min-height: 60px;
  .friend-details {
    float: left;
    width: 60%;
  }
  .friend-actions {
    max-width: 40%;
    float: right;

    div {
      height: 34px;
      width: 44px;
      padding: 6px 11px;
      border: 1px solid grey;
      float: left;
      margin-right: 10px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
    .action-featured {
      padding: 8px 13px;
    }
  }
  .friend-name {
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
